<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotlight</title>

    <link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Merriweather|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <header>
        <div id="lighthouse">
            <div id="light"></div>
            <img src="assets/lighthouse.svg" alt="Lighthouse with a rotating lightbeam">
        </div>
        <h1>
            <div>Spotlight</div>
        </h1>
    </header>

    <main id="front-page">
        <section id="intro" class="shadow">
            <h2>Report a Problem</h2>
            <form action="https://formspree.io/jamhousejamstack@gmail.com" method="POST">
                <p class="field"><label for="name">Name:</label> <input id="name" type="text" name="name"></p>
                <p class="field"><label for="email">Email:</label> <input id="email" type="email" name="_replyto"></p>
                <p class="field"><label for="issue">Issue:</label> <input id="issue" type="text" name="message"></p>
                <p><input type="submit" value="Send"></p>
            </form>
        </section>
    </main>

    <footer>
        <ul>
            <li>Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors
                    Market</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is
                licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                    target="_blank">CC 3.0 BY</a></li>
        </ul>
    </footer>
</body>

</html>